@{
    ViewBag.Title = "Home Page";
}

<br>
<h1>Octane System </h1>

<p>Bem vindos ao sistema de abertura de chamados.</p>

<p>POLÍTICA DE TI</p>

<p>Sumário</p>

<p><a href="#INTRODUÇÃO">01. INTRODUÇÃO                                                     </a></p>
<p><a href="#PROPÓSITO">02. PROPÓSITO                                                       </a></p>
<p><a href="#ABRANGÊNCIA">03. ABRANGÊNCIA                                                   </a></p>
<p><a href="#DIREITOS DE USO">04. DIREITOS DE USO                                           </a></p>
<p><a href="#DEVERES CORRESPONDENTES">05. DEVERES CORRESPONDENTES                           </a></p>
<p><a href="#PROIBIÇÕES">06. PROIBIÇÕES                                                     </a></p>
<p><a href="#COMPROMISSOS">07. COMPROMISSOS                                                 </a></p>
<p><a href="#SOFTWARES E LICENÇAS">08. SOFTWARES E LICENÇAS                                 </a></p>
<p><a href="#ADIÇÃO E REMOÇÃO DE RECURSOS">9. ADIÇÃO E REMOÇÃO DE RECURSOS                   </a></p>
<p><a href="#AUDITORIA">10. AUDITORIA                                                        </a></p>
<p><a href="#USO DE SENHA">11. USO DE SENHA                                                  </a></p>


<br />
<br />
<br />
<br />
<br />
<br />
<p>
    <h4 id="INTRODUÇÃO"><br /><br /><br /><br />01. INTRODUÇÃO</h4>
    <br /> A intenção da POP com a publicação da Política de TI não é impor restrições contrárias à cultura de abertura e confiança companhia, mas proteger a empresa, nossos funcionários e parceiros, de ações ilegais ou danosas praticadas por qualquer indivíduo, de forma proposital ou inadvertidamente.
    Sistemas relacionados à Internet/Intranet/Extranet - incluídos, mas não limitados, os equipamentos de computação, software, sistemas operacionais, dispositivos de armazenamento, contas de rede que permitem acesso ao correio eletrônico, consultas WWW e FTP a partir de IP’s (endereços de protocolo da internet) e o sistema de telefonia - são propriedades da POP, devendo ser utilizados com o exclusivo propósito de servir aos interesses da empresa e de seus clientes, no desempenho de suas atividades empresariais.
    A segurança efetiva é um trabalho de equipe envolvendo a participação e colaboração de todos os funcionários e afiliados de nossa empresa que manipulam informações e/ou sistemas de informações. É de responsabilidade de cada usuário de computador conhecer esta política e conduzir suas atividades de acordo com a mesma.
    A POP disponibiliza computadores e sistemas de comunicação aos seus colaboradores que visam suprir as necessidades do negócio nos seguintes propósitos:
    • Comunicação entre funcionários e fornecedores, clientes ou parceiros de negócio.
    • Colaboração entre nossos funcionários proporcionando compartilhamento de seus conhecimentos, respeitando o sigilo de informações e as leis de propriedade intelectual.
    • Incremento da produtividade através de sistemas integrados.
    As políticas básicas referem-se ao uso de computadores e sistemas de comunicações, incluindo, mas não se limitando a serviços de e-mail e acesso à internet.
    Favor ler o conteúdo e caso haja qualquer dúvida entrar em contato com o departamento de recursos humanos ou o de Tecnologia. A POP pretende honrar suas políticas, mas se reserva ao direito de modificá-las conforme sua necessidade.
    O funcionário que violar quaisquer dos ítens desta política estará sujeito a ação disciplinar, até e inclusive a rescisão de contrato de trabalho por justa causa, podendo ainda responder por perdas e danos ou ação criminal.
</p>


<p>
    <h4 id="PROPÓSITO"><br /><br /><br /><br />02. PROPÓSITO</h4>
    <br />O propósito desta política é delinear a utilização aceitável dos equipamentos de informática, acesso à informação e de telefonia da POP. Estas regras foram definidas para proteger os funcionários e a empresa. A utilização inapropriada dos equipamentos e sistemas relacionados no item anterior torna-os vulneráveis à atuação de hackers, contaminação por “vírus” e danificação, gerando comprometimento dos sistemas e serviços da rede, além de problemas legais.
</p>


<p>
    <h4 id="ABRANGÊNCIA"><br /><br /><br /><br />03. ABRANGÊNCIA</h4>
    <br /> Esta política se aplica aos funcionários, prestadores de serviços, consultores, auditores, fiscais, temporários e demais colaboradores que estejam a serviço da POP, incluindo toda a mão-de-obra terceirizada ou disponibilizada mediante convênios, parcerias ou quaisquer outras formas de atuação conjunta com outras empresas; e abrange todos os sistemas e equipamentos de propriedade da POP, bem como aqueles de propriedade de terceiros que lhe sejam confiados a qualquer título, ou cedidos pela mesma a terceiros.
    Política de TI 4
</p>


<p>
    <h4 id="DIREITOS DE USO"><br /><br /><br /><br />04. DIREITOS DE USO</h4>
<p>Os colaboradores da POP têm os seguintes direitos:
<p>4.1. Fazer uso legal dos recursos computacionais colocados à sua disposição, respeitadas as normas de utilização estabelecidas pela empresa;
<p>4.2. Ter conta de acesso à rede corporativa, respeitadas as normas de utilização estabelecidas pela empresa;
<p>4.3. Ter conta de correio eletrônico com uma das extensões do domínio da empresa.
<p>4.4. Acessar a Intranet e a Internet, respeitando as políticas da Empresa;
<p>4.5. Acessar as informações que forem franqueadas, relativas às áreas de armazenamento privado e compartilhado, respeitadas as normas de utilização e confidencialidade estabelecidas pela Empresa;
<p>4.6. Solicitar suporte técnico sempre que verificado o mau funcionamento dos equipamentos ou do sistema de rede corporativa;
<p>
    4.7. Fazer uso do telefone da empresa para tratar de assuntos relacionados ao trabalho.
</p>


<p>
    <h4 id="DEVERES CORRESPONDENTES"><br /><br /><br /><br />05. DEVERES CORRESPONDENTES</h4>
<p>Os usuários da rede corporativa têm as seguintes obrigações:
<p>5.1. Responder pelo uso exclusivo de sua conta pessoal de acesso à rede corporativa;
<p>5.2. Identificar, classificar e enquadrar as informações da rede corporativa relacionadas às atividades por si desempenhadas;
<p>5.3. Zelar por toda e qualquer informação armazenada na rede corporativa contra alteração, destruição, divulgação, cópia e acessos não autorizados;
<p>5.4. Guardar sigilo das informações confidenciais, mantendo- as em caráter restrito;
<p>5.5. Manter, em caráter confidencial e intransferível, a senha de acesso aos recursos computacionais e de informação da organização,, informando-a formalmente ao Administrador da Rede apenas se questionado;
<p>5.6. Informar imediatamente à gerência sobre quaisquer falhas ou desvios das regras estabelecidas neste documento, bem como sobre a ocorrência de qualquer violação às mesmas, praticada em atividades relacionadas ao trabalho, dentro ou fora das dependências da empresa;
<p>5.7. Responder cível e criminalmente pelos danos causados em decorrência da não observância das regras de proteção da informação e dos recursos computacionais da rede corporativa;
<p>
    5.8. Fazer uso dos recursos computacionais para trabalhos de interesse exclusivo da organização;
</p>

<p>
    <h4 id="PROIBIÇÕES"><br /><br /><br /><br />06. PROIBIÇÕES</h4>
<p>É proibido aos usuários da rede:
<p>6.1. Acessar, copiar ou armazenar programas de computador ou qualquer outro material (músicas, fotos e vídeos) que violem a lei de direitos autorais (copyright), bem como aqueles de conteúdo ilegal, pornográfico, discriminatório, homofóbico, racista ou que faça apologia ao crime;
<p>6.2. Utilizar os recursos computacionais ou quaisquer outros de propriedade da empresa, colocados à disposição do colaborador em razão do exercício de sua função, para constranger, assediar, prejudicar ou ameaçar a mesma ou terceiros, sejam eles indivíduos ou organizações;
<p>6.3. Passar-se por outra pessoa ou esconder, por qualquer meio, a própria identidade quando utilizar os recursos computacionais ou quaisquer outros de propriedade da empresa, colocados à disposição do colaborador em razão do exercício de sua função;
<p>6.4. Alterar os sistemas padrões, sem autorização;
<p>6.5. Divulgar quaisquer informações confidenciais para concorrentes e/ou qualquer pessoa não ligada às atividades da empresa;
<p>6.6. Efetuar qualquer tipo de acesso ou alteração não autorizada a dados dos recursos computacionais pertencentes à empresa;
<p>6.7. Violar os sistemas de segurança dos recursos computacionais, no que tange à identificação de usuários, senhas de acesso, fechaduras automáticas, sistemas de alarme e demais mecanismos de segurança e restrição de acesso;
<p>6.8. Utilizar acesso discado através de modem, ou qualquer outra forma de conexão não autorizada, quando conectado às redes instaladas nas dependências da empresa;
<p>6.9. Utilizar quaisquer recursos ou equipamentos da empresa para fins diversos daqueles necessários ao desempenho da função contratada;
<p>6.10. Criar blogs e comunidades na Internet, ou qualquer ambiente virtual semelhante, utilizando-se, sem autorização expressa, da logomarca da empresa;
<p>6.11. Copiar qualquer informação (arquivos, emails, fotos, ..) pertencentes a POP para qualquer tipo de mídia (anexo de emails, papel, HD externo, pen drive, celulares, etc ...);
<p>
    6.12. Acessar a porta USB ou Gravadores de DVD (a conexão de qualquer dispositivo de armazenamento é terminantemente proibida).
</p>


<p>
    <h4 id="COMPROMISSOS"><br /><br /><br /><br />7. COMPROMISSOS</h4>
<p>Os usuários da rede comprometem-se a:
<p>7.1. Respeitar áreas de acesso restrito, não executando tentativas de acesso às mesmas, ou utilizando máquinas alheias às permissões de acesso delimitadas a cada categoria de colaboradores;
<p>7.2. Não desenvolver, fomentar ou promover ações que incentivem o racismo ou qualquer tipo de discriminação que viole quaisquer outros direitos constitucionais do cidadão;
<p>7.3. Não fazer uso da rede para molestar, ameaçar ou ofender seus usuários ou terceiros, por quaisquer meios, sejam textos, imagens, vídeos ou correios eletrônicos;
<p>7.4. Não fazer uso da rede para circulação de propaganda política;
<p>7.5. Não tomar atitude ou ação que possa, direta ou indiretamente, indisponibilizar recursos da rede corporativa;
<p>7.6. Não executar programas que tenham como finalidade a decodificação de senhas, o monitoramento da rede, a leitura de dados de terceiros, a propagação de vírus de computador, a destruição parcial ou total de arquivos ou a indisponibilização de serviços; 7.7. Não executar programas, instalar equipamentos, armazenar arquivos ou promover ações que possam facilitar o acesso de usuários não autorizados à rede corporativa da empresa;
<p>7.8. Não utilizar nenhum programa de bate-papo ou de mensagem instantânea, tais como Skype, MSN e Google Talk, entre outros, exceto as eventuais ferrramentas disponibilizadas pela empresa unicamente para fins profissionais;
<p>7.9. Não utilizar nenhum acesso a redes sociais, tais como Facebook, Orkut, entre outros, exceto em horários permitidos;
<p>7.10. Responsabilizar-se perante a empresa e terceiros por quaisquer prejuízos advindos da violação dos compromissos, deveres e proibições estabelecidas nesse documento;
<p>7.11. Utilizar-se, de forma ética e em conformidade com as normas de conduta e segurança estabelecidas pela empresa todos os recursos, equipamentos e informações que lhe sejam confiados em razão do desempenho de sua atividade profissional;
<p>
    7.12. Não burlar qualquer uma das regras neste definidas, seja através de vulnerabilidades, seja através de falhas de sistema.
</p>


<p>
    <h4 id="SOFTWARES E LICENÇAS"><br /><br /><br /><br />08. SOFTWARES E LICENÇAS</h4>
<p>8.1. Todo software executado nos equipamentos da rede corporativa da POP deverá ser licenciado, sendo vetada a utilização de qualquer software sem licença;
<p>8.2. A utilização de softwares livres ou temporários deverá ser solicitada ao responsável pela administração da rede, por escrito e, em caso de aprovação, a instalação e remoção deverão ser realizadas pela equipe de tecnologia;
<p>
    8.3. A utilização de softwares não licenciados é considerada uma Não-Conformidade Gravíssima e acarretará punições ao funcionário ou colaborador, em qualquer nível, da POP.
</p>


<p>
    <h4 id="ADIÇÃO E REMOÇÃO DE RECURSOS"><br /><br /><br /><br />09. ADIÇÃO E REMOÇÃO DE RECURSOS</h4>
    É vetada aos usuários da rede de computadores da organização a adição e remoção de quaisquer recursos, sejam eles microcomputadores, impressoras, pen-drives, mp3 players ou outros equipamentos e dispositivos. A adição e remoção desses deverão ser solicitadas à área de tecnologia, para aprovação e, em caso positivo, tais procedimentos deverão ser realizados pela mesma.
</p>


<p>
    <h4 id="AUDITORIA"><br /><br /><br /><br />10. AUDITORIA</h4>
<p> 10.1. Todos os funcionários que utilizam a rede corporativa (informática e telefonia) serão submetidos à auditoria, realizada por um profissional da Área de Tecnologia da POP, com o objetivo de verificar o cumprimento das normas estabelecidas;
<p> 10.2. A auditoria ocorrerá semanalmente, presencialmente ou remota, em microcomputadores ou notebooks escolhidos aleatoriamente e, caso verificada alguma não-conformidade, será instaurada uma sindicância interna voltada à apuração de responsabilidades e classificação da gravidade da violação das normas de utilização dos equipamentos;
<p>
    10.3. Após a classificação da gravidade (alta, média ou baixa), a não-conformidade será comunicada a Direção da POP para adoção das providências cabíveis.
</p>


<p><h4 id="USO DE SENHA"><br /><br /><br /><br />11. USO DE SENHA</h4>
<p>11.1. Cada usuário da rede corporativa terá uma senha de acesso à máquina e ao servidor, sempre que o sistema (ou a Área de Tecnologia) solicitar a alteração das senhas, o usuário deverá fazê-lo de imediata, para garantir a integridade de toda a rede;
<p>
    11.2. A responsabilidade pela manutenção do sigilo das senhas é exclusiva do colaborador, ao qual é proibido divulgar as senhas pessoais de acesso à rede corporativa a terceiros, exceto quando solicitado formalmente pela Área de Tecnologia.
</p>